
.sidebar-transition {
    transition: transform 0.3s;
  }
 
  .sidebar-hidden {
    transform: translateX(-100%);
  }
  
  
  .sidebar-visible {
    transform: translateX(0);
  }
  

  mat-list-item:hover {
    background-color: rgba(0, 0, 0, 0.262);
  }