/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Asegúrate de que el header esté en la parte superior */
  header {
    width: 100%;
    top: 0;
    left: 0;
  }